In [1]:
import pandas as pd
import numpy as np

**If you lost points on the last checkpoint you can get them back by responding to TA/IA feedback**  

Update/change the relevant sections where you lost those points, make sure you respond on GitHub Issues to your TA/IA to call their attention to the changes you made here.

Please update your Timeline... no battle plan survives contact with the enemy, so make sure we understand how your plans have changed.

# COGS 108 - Data Checkpoint

# Names

- Ant Man
- Hulk
- Iron Man
- Thor
- Wasp

# Research Question

-  Include a specific, clear data science question.
-  Make sure what you're measuring (variables) to answer the question is clear

What is your research question? Include the specific question you're setting out to answer. This question should be specific, answerable with data, and clear. A general question with specific subquestions is permitted. (1-2 sentences)

## Background and Prior Work


- Include a general introduction to your topic
- Include explanation of what work has been done previously
- Include citations or links to previous work

This section will present the background and context of your topic and question in a few paragraphs. Include a general introduction to your topic and then describe what information you currently know about the topic after doing your initial research. Include references to other projects who have asked similar questions or approached similar problems. Explain what others have learned in their projects.

Find some relevant prior work, and reference those sources, summarizing what each did and what they learned. Even if you think you have a totally novel question, find the most similar prior work that you can and discuss how it relates to your project.

References can be research publications, but they need not be. Blogs, GitHub repositories, company websites, etc., are all viable references if they are relevant to your project. It must be clear which information comes from which references. (2-3 paragraphs, including at least 2 references)

 **Use inline citation through HTML footnotes to specify which references support which statements** 

For example: After government genocide in the 20th century, real birds were replaced with surveillance drones designed to look just like birds.<a name="cite_ref-1"></a>[<sup>1</sup>](#cite_note-1) Use a minimum of 2 or 3 citations, but we prefer more.<a name="cite_ref-2"></a>[<sup>2</sup>](#cite_note-2) You need enough to fully explain and back up important facts. 

Note that if you click a footnote number in the paragraph above it will transport you to the proper entry in the footnotes list below.  And if you click the ^ in the footnote entry, it will return you to the place in the main text where the footnote is made.

To understand the HTML here, `<a name="#..."> </a>` is a tag that allows you produce a named reference for a given location.  Markdown has the construciton `[text with hyperlink](#named reference)` that will produce a clickable link that transports you the named reference.

1. <a name="cite_note-1"></a> [^](#cite_ref-1) Lorenz, T. (9 Dec 2021) Birds Aren’t Real, or Are They? Inside a Gen Z Conspiracy Theory. *The New York Times*. https://www.nytimes.com/2021/12/09/technology/birds-arent-real-gen-z-misinformation.html 
2. <a name="cite_note-2"></a> [^](#cite_ref-2) Also refs should be important to the background, not some randomly chosen vaguely related stuff. Include a web link if possible in refs as above.

# Hypothesis

Our hypothesis is that there is a significant relationship with environmental degradation, high economic output, and homelessness that affects crime rates, and using these factors we can create a new measure of a city’s well being, as an alternate measure of economic health. Higher outputs of the economy attract higher rates of crime because of the high foot traffic in retail centers where businesses sell products and people are carrying valuables or money. Additionally, the stress of falling into homelessness and being homeless have individuals resorting to committing crimes as one of their survival options. As the environment continues to decline, this will also lead to higher crime rates and in particular violent crimes due to higher temperatures inflicting environmental stress on the population. All of these variables are high stressing factors in people’s lives, which ultimately dictate their wellbeing, safety, and future hence why when these variables are threatened in their lives, people will turn towards committing crimes in order to ensure their survival.

# Data

## Data overview

1. Explain what the **ideal** dataset you would want to answer this question. (This should include: What variables? How many observations? Who/what/how would these data be collected? How would these data be stored/organized?)<br>
* Our ideal dataset would be a dataset that includes measures for a region's GDP, environmental degradation, homelessness, and crime rates. While measures for GDP, homelessness, and crime rates are straightforward, environmental degradation is not as clear. Thus we can use tools provided by the state such as CalEnviroScreen 4.0 to act as measures for a region's environmental degradation. Unemployment data can be found from the California Employment Development Department, crime data from OpenJustice led by the California Department of Justice, and U.S. Census for some population data. Alternatively, we have information from San Diego for data regarding specific regions within San Diego county. This can be obtained directly from the San Diego County database. All of this data is available in usable forms (csv file, Microsoft Excel spreadsheet, etc.) through government websites. We would convert our files into pandas dataframes, which we would then merge into one dataframe that includes the data that we want. That is, the ideal dataset would be organized by it's observations of main regions in San Diego county, where the variables will be the region's income/capita, environmental degradation, homelessness, and crime rates. 

* Our ideal number of observations include our variables from all cities or regions in San Diego County across multiple years with the ideal span being about 5 years. This would look like about 18 cities with (ask dean for year span) Looking at the data we have already found our time span can vary. Our found environmental data isn't tracked by year so we need to search for a dataset that is. Our income data spans from 2012 to 2024 for all cities in San Diego county. Our unemployment data doesn't include specific cities in San Diego county so we need to find data that does. Our crime data accounts for all the cities wanted and spans 2009 to 2023.

1. Search for potential **real** datasets that could provide you with something useful for this project.  You do not have to find every piece of data you will use, but you do need to have demonstrated some idea that (a) this data is gettable and (b) that this data may be different from what your ideal is.<br>

* <u>**Environmental degradation**</u> data: https://oehha.ca.gov/calenviroscreen/report/calenviroscreen-40<br>

* **San Diego Median Income/Capita, Crime Rates, Unemployment info, based on specific regions in San Diego** <br>
https://data.sandiegocounty.gov/Live-Well-San-Diego/Live-Well-/San-Diego-Database/wsyp-5xpf/about_data <br> 

* <u>**Unemployment.. Less than Ideal**</u> <br>
Unemployment rate for California (as a whole):  https://labormarketinfo.edd.ca.gov/geography/california-statewide.html <br>
Unemployment rate for California (as counties): https://labormarketinfo.edd.ca.gov/geography/lmi-by-county.html <br>
* <u>Crime</u> <br>
Crime rates broken down into total crime, violent crime, and property crime rates for cities/regions in San Diego county: https://data.sandiegocounty.gov/Safety/SANDAG-Crime-Data/486f-q228/data_preview <br>


* All these sites have data that's not only obtainable but also easily processes because they are kept in Excel files. Excel files are csv files which can be easily turned into pandas dataframes. Of course, these sites contain more data than we need in our project, so tidying will be necessary. Moreover, we may choose a focus on specific types of crimes, such as violent crimes versus misdemeanors, or we may choose to look at all crime as a whole. 


For each dataset include the following information
- Dataset #1
  - Dataset Name: Air Quality Dataset
  - Link to the dataset: https://www.epa.gov/outdoor-air-quality-data/air-quality-statistics-report
  - Number of observations: 823
  - Number of variables: 18
  - Description: This dataset tracks county-level air quality metrics across California from 2010-2025, with each row representing a county's annual aggregate data. The key variables include AQI metrics (AQI Maximum, AQI 90th Percentile, and AQI Median), which serve as proxies for understanding the air quality in a respective county in a specific year and as baseline air quality respectively. The data requires cleaning to handle columns of information not needed in this project as well as standardizing labels to fit with our other datasets. 

- Dataset #2 
  - Dataset Name: Crime Rate Dataset
  - Link to the datasets: 
  - https://dof.ca.gov/forecasting/demographics/estimates/ (for population)
  - https://openjustice.doj.ca.gov/data (for crime count)
  - Number of observations: 28591 (for crime), 1770 (for population)
  - Number of variables: 70 (for crime), 3 (for population)
  - Description: We plan to look at **Violent_sum**, **Property_sum** within the crime count dataset & **Population** within the population dataset. For both, we will look at **Year** and **County**. Both datasets contain datetime datatype for **Year**, integer datatype for **Violent_sum**, **Property_sum**, & **Population**, and string datatype for **County**, but can contain undefined values which we will use **0** as a proxy. 
  - We plan to use `.strip()` for removing empty spaces, `pd.to_datetime()` for converting **Year** to an integer datatype, `.split()` for removing redundant words like '*County*' in 'Alameda *County*', `.astype()` to explicity convert our data to integer, `.melt()` to reshape the population dataframe to a long format, `.drop()` for unecessary columns, `.rename()` for making consistent columns before merge, and `.merge()` to get the complete Crime Rate Dataset. Both datasets will be merged from 2000-2025, where crime rate will then be calculated directly using the population count per county and crime commited per county to get the rate of crime per 100,000 residents. 
- Dataset #3
- Dataset name : Greenhouse Gas Emissions 
- Link to the dataset: https://www.epa.gov/system/files/other-files/2024-10/2023_data_summary_spreadsheets.zip
- Number of Observations:767
- Number of Variables:3
- Description: 

Now write 2 - 5 sentences describing each dataset here. Include a short description of the important variables in the dataset; what the metrics and datatypes are, what concepts they may be proxies for. Include information about how you would need to wrangle/clean/preprocess the dataset

If you plan to use multiple datasets, add a few sentences about how you plan to combine these datasets.

## Dataset #1 (use name instead of number here)

In [2]:
aq_df = pd.DataFrame()
import os 

# Load Air Quality Datasets + Add Year Column
for filename in os.listdir('./Datasets/AirQuality/'): 
    file_path = os.path.join('./Datasets/AirQuality/', filename)
    if '.csv' not in file_path: 
        continue
    year_val = int(filename.strip('aqireport.csv'))
    df_temp = pd.read_csv(file_path)
    df_temp = df_temp.assign(Year=year_val)
    aq_df = pd.concat([aq_df, df_temp])

# Removed Redundant Naming
county_name = aq_df.get('County').str.split().str[:-2]
county_name = county_name.apply(' '.join)
aq_df['County'] = county_name
aq_df.sort_values(by=['Year', 'County'], inplace=True)

# Dropped Unnecessary Columns
aq_df = aq_df[['County', 'AQI Maximum', 'AQI 90th Percentile', 'AQI Median', 'Year']]
aq_df

        County  AQI Maximum  AQI 90th Percentile  AQI Median  Year
0      Alameda          179                 72.0        52.0  2010
1       Amador          151                 64.0        35.0  2010
2        Butte          126                 84.0        53.0  2010
3    Calaveras          154                 84.0        44.0  2010
4       Colusa          119                 54.0        39.0  2010
..         ...          ...                  ...         ...   ...
20      Solano           16                 15.0         5.5  2025
21  Stanislaus           87                 85.0        37.0  2025
22      Tulare          104                 57.0        34.0  2025
23     Ventura          125                 54.0        43.5  2025
24        Yolo           26                 24.0        10.0  2025

[823 rows x 5 columns]

## Crime Dataset

In [3]:
# Loading number of crime data
# Cleaning up data
crime_num_df = pd.read_csv(
    './Datasets/Crime/Crimes_and_Clearances_with_arson-1985-2023.csv', 
    dtype=object)
crime_num_df = crime_num_df.drop(columns='NCICCode')
crime_num_df.replace(' ', 0, inplace=True)
crime_num_df.replace(np.nan, 0, inplace=True)
for col in crime_num_df.columns: 
    if(col == 'County' or col == 'NCICCode'): 
        continue 
    crime_num_df[col] = crime_num_df[col].astype(int)
crime_num_df = crime_num_df[['Year', 'County', 'Violent_sum', 'Property_sum']].groupby(['Year', 'County']).sum()
crime_num_df = crime_num_df.reset_index()
#Filter to start from 2001
crime_num_df = crime_num_df[crime_num_df['Year'] >= 2000]

# Removing 'County'
crime_num_df['Year'] = crime_num_df['Year'].astype(object)
name = crime_num_df.get('County').str.split().str[:-1]
crime_num_df['County'] = name.apply(' '.join)

crime_num_df

      Year     County  Violent_sum  Property_sum
870   2000    Alameda         9485         58334
871   2000     Alpine           10            77
872   2000     Amador          179           674
873   2000      Butte          699          6514
874   2000  Calaveras          118           914
...    ...        ...          ...           ...
2257  2023     Tulare         2481          9535
2258  2023   Tuolumne          369           522
2259  2023    Ventura         2411         11071
2260  2023       Yolo          561          4968
2261  2023       Yuba          334           828

[1392 rows x 4 columns]

In [4]:
# Load Population Data for 2000-2010
p1_df = pd.read_excel(
    './Datasets/Census/E4_2000-2010_Report_Final_EOC_000.xlsx',
    sheet_name=1,skiprows=3)
p1_df.dropna(how='all', inplace=True)
p1_df = pd.melt(
    p1_df, id_vars='COUNTY',
    var_name='Year', 
    value_name='Population')
p1_df['COUNTY'] = p1_df.get('COUNTY').str.strip()

# Load Population Data for 2010-2020
p2_df = pd.read_excel(
    './Datasets/Census/E-4_2010-2020-Internet-Version.xlsx',
    sheet_name=1, skiprows=1)
p2_df.drop(columns=['Column1', 'Column2'], inplace=True)
p2_df = pd.melt(p2_df, id_vars='COUNTY', var_name='Year',
    value_name='Population')
p2_df.dropna(how='all', inplace=True)
p2_df['COUNTY'] = p2_df.get('COUNTY').str.strip()
p2_df.get('Year').apply(pd.to_datetime)

# Load Population Data 2020-2025
p3_df = pd.read_excel(
    './Datasets/Census/E-4_2025_InternetVersion.xlsx',
    sheet_name=1, skiprows=2)
p3_df = p3_df.iloc[0:59]
p3_df = pd.melt(p3_df, id_vars='County', var_name='Year',
    value_name='Population')
p3_df['County'] = p3_df.get('County').str.strip()
p3_df = p3_df.rename(columns={'County': "COUNTY"})
p3_df

# Merge Population Data From 2000-2025 + Clean Up Data
pop_df = pd.concat([p1_df, p2_df, p3_df])
pop_df['Year'] = pop_df.get('Year').apply(pd.to_datetime).dt.year
pop_df.rename(columns={'COUNTY':'County'}, inplace=True)
pop_df['Year'] = pop_df['Year'].astype(object)
pop_df

          County  Year  Population
0        Alameda  2000   1443939.0
1         Alpine  2000      1208.0
2         Amador  2000     35100.0
3          Butte  2000    203171.0
4      Calaveras  2000     40554.0
..           ...   ...         ...
349     Tuolumne  2025     54357.0
350      Ventura  2025    829005.0
351         Yolo  2025    225433.0
352         Yuba  2025     85023.0
353  State Total  2025  39529101.0

[1770 rows x 3 columns]

In [5]:
# Merge Population Dataset With Crime Number Dataset
crime_rate_df = pop_df.merge(crime_num_df, on=['Year', 'County'])

# Calculate crime rate percentages
crime_rate_df['Violent_rate'] = (crime_rate_df['Violent_sum'])/(crime_rate_df['Population'])
crime_rate_df['Property_rate'] = (crime_rate_df['Property_sum'])/(crime_rate_df['Population'])

# Multiply to get rate of crime per 100,000 residents 
crime_rate_df['Violent_rate'] = (crime_rate_df['Violent_rate'] * 100000).apply(round)
crime_rate_df['Property_rate'] = (crime_rate_df['Property_rate'] * 100000).apply(round)


crime_rate_df.head()

,County,Year,Population,Violent_sum,Property_sum,Violent_rate,Property_rate
0,Alameda,2000,1443939.0,9485,58334,657,4040
1,Alpine,2000,1208.0,10,77,828,6374
2,Amador,2000,35100.0,179,674,510,1920
3,Butte,2000,203171.0,699,6514,344,3206
4,Calaveras,2000,40554.0,118,914,291,2254

In [10]:
crime_rate_df.shape

(1624, 7)

In [15]:
Ge_df = pd.read_excel('ghgp_data_by_year_2023.xlsx', skiprows=3)
Ge_df = Ge_df[Ge_df['State']=='CA']
Ge_df = Ge_df.dropna()
Ge_df['County'] = Ge_df['County'].str.upper()
Ge_df['County'] = Ge_df['County'].apply(lambda x: x.replace('COUNTY','') if 'COUNTY' in x else x)
year = 2023
for col in Ge_df.columns:
    if col.startswith('20'):
        Ge_df.rename(columns = {col :f'{year}'}, inplace=True)
        year = year-1
Ge_df = Ge_df[['County','2023','2022','2021','2020','2019','2018','2017','2016','2015','2014','2013','2012','2011']]
Ge_df.head()

Ge_df = pd.melt(Ge_df, id_vars= ['County',], var_name='Year', value_name = 'emmisions')
Ge_df = Ge_df.groupby(['County','Year',], as_index =False).sum()
Ge_df

       County  Year      emmisions
0    ALAMEDA   2011  388736.749724
1    ALAMEDA   2012  376022.924941
2    ALAMEDA   2013  283117.164000
3    ALAMEDA   2014  276578.428000
4    ALAMEDA   2015  287181.554000
..        ...   ...            ...
762     YUBA   2019   97292.500000
763     YUBA   2020  105007.500000
764     YUBA   2021   88636.000000
765     YUBA   2022   78540.750000
766     YUBA   2023  117829.000000

[767 rows x 3 columns]

# Ethics & Privacy

- Thoughtful discussion of ethical concerns included
- Ethical concerns consider the whole data science process (question asked, data collected, data being used, the bias in data, analysis, post-analysis, etc.)
- How your group handled bias/ethical concerns clearly described

Acknowledge and address any ethics & privacy related issues of your question(s), proposed dataset(s), and/or analyses. Use the information provided in lecture to guide your group discussion and thinking. If you need further guidance, check out [Deon's Ethics Checklist](http://deon.drivendata.org/#data-science-ethics-checklist). In particular:

- Are there any biases/privacy/terms of use issues with the data you propsed?
- Are there potential biases in your dataset(s), in terms of who it composes, and how it was collected, that may be problematic in terms of it allowing for equitable analysis? (For example, does your data exclude particular populations, or is it likely to reflect particular human biases in a way that could be a problem?)
- How will you set out to detect these specific biases before, during, and after/when communicating your analysis?
- Are there any other issues related to your topic area, data, and/or analyses that are potentially problematic in terms of data privacy and equitable impact?
- How will you handle issues you identified?

When it comes to dealing with ethics for our project, there may be potential county bias in the data available since it may be the case that there are missing counties that are underrepresented in the available government datasets listed above. That is, Lassen, Modoc, Sierra, and Yuba.
Additionally, there may be a confounding variable as not all crime and unemployment may be accounted for if not reported to the government. Though a confounding variable, the data collected from websites such as openjustice.doj.ca.gov permits the public usage of the data from their webiste, noting that their website public data is made sure to not include personal information of minors and or use copyrighted material. Furthermore, there may be bias in our statistical analyses when it comes to looking at the rate of crime rate for a specific high income cities which can bias our interpretations of the data. <br>

To address these issues, we will explore what missing counties there are in the datasets and why they are underrepresented. That way, we can transparently report these reasons as factors that can impact our intrepretation when we analyze our data. For instance, findings that indicate a strong relationship between our variables and crime rate may not be applicable to rural areas. Furthermore, regarding data collections, data regarding crime and umemployment are tracked by the government, but this is something out of our scope of responsibilities. Instead, we can acknowledge that a negative may be consistent with a 'false negative' because of the underrepresentation when interpreting the relationship between our variables and crime. In this understanding, we may not be able to say for certain that findings of 'no relationship' is true. 

Our aim for this project is to find a more accurate measure for county's well-being, i.e. environment and economic factors may be considered, and how we can use this for a predictor model that can assist in assessing counties for their levels of crime. This project can be scaled for use in determining how the government can improve their allocation of resources to improve a county's well-being. However, because of bias in our project, our findings may only be applicable to counties similar to San Diego. That is, underrepresented counties should not be observed with our lens. Despite this bias, misuse or misinterpretation of our finding can be misleading and improperly measure a county's well-being. This can lead to reduction in select counties' aid from the government that can adversely affect them.

# Team Expectations


Read over the [COGS108 Team Policies](https://github.com/COGS108/Projects/blob/master/COGS108_TeamPolicies.md) individually. Then, include your group’s expectations of one another for successful completion of your COGS108 project below. Discuss and agree on what all of your expectations are. Discuss how your team will communicate throughout the quarter and consider how you will communicate respectfully should conflicts arise. By including each member’s name above and by adding their name to the submission, you are indicating that you have read the COGS108 Team Policies, accept your team’s expectations below, and have every intention to fulfill them. These expectations are for your team’s use and benefit — they won’t be graded for their details.

* *Team Expectation 1*
* *Team Expectation 2*
* *Team Expecation 3*
* ...

# Project Timeline Proposal

Specify your team's specific project timeline. An example timeline has been provided. Changes the dates, times, names, and details to fit your group's plan.

If you think you will need any special resources or training outside what we have covered in COGS 108 to solve your problem, then your proposal should state these clearly. For example, if you have selected a problem that involves implementing multiple neural networks, please state this so we can make sure you know what you’re doing and so we can point you to resources you will need to implement your project. Note that you are not required to use outside methods.



| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 1/20  |  1 PM | Read & Think about COGS 108 expectations; brainstorm topics/questions  | Determine best form of communication; Discuss and decide on final project topic; discuss hypothesis; begin background research | 
| 1/26  |  10 AM |  Do background research on topic | Discuss ideal dataset(s) and ethics; draft project proposal | 
| 2/1  | 10 AM  | Edit, finalize, and submit proposal; Search for datasets  | Discuss Wrangling and possible analytical approaches; Assign group members to lead each specific part   |
| 2/14  | 6 PM  | Import & Wrangle Data (Ant Man); EDA (Hulk) | Review/Edit wrangling/EDA; Discuss Analysis Plan   |
| 2/23  | 12 PM  | Finalize wrangling/EDA; Begin Analysis (Iron Man; Thor) | Discuss/edit Analysis; Complete project check-in |
| 3/13  | 12 PM  | Complete analysis; Draft results/conclusion/discussion (Wasp)| Discuss/edit full project |
| 3/20  | Before 11:59 PM  | NA | Turn in Final Project & Group Project Surveys |